[2018-01-15 20:51] wkyle opened #6 "Channel callback doesn't fire"
Tried implementing basic example. The 'data' event doesn't seem to be firing.

[code]

[2018-01-15 21:09] wkyle commented on #6
To follow up on this, I wrote a `print(message)` inside the `_on_message` handler in connections.py and while it prints the initial connection messages, there are no messages following that. Trades are occurring on BitStamp at the moment however no messages are coming through.

[2018-01-15 21:16] deepbrook commented on #6
Hey @wkyle,
your orderbook channel is wrong. it should be `order_book`, not `order_book_BTC_USD`.

Cheers!
Nils

[2018-01-15 21:16] #6 closed, assigned to nobody

[2018-01-15 21:21] wkyle commented on #6
Oh my. After all that I misread the BitStamp documentation.
Thank you kindly. I look forward to following this project.
Wes

[2018-02-04 15:50] peerchemist opened #9 "Async pysher"
Can you provide an example on how to use this library asynchronously.?

[2018-02-06 14:29] deepbrook commented on #9
Using `asyncio` ? Unfortunately no - but perhaps someone else is willing to contribute such an example. Should I find the time for this, I'll add an example in the coming days.

[2018-02-06 15:33] peerchemist commented on #9
Yes using asyncio. Okay thanks.

[2018-02-23 02:12] pedrorojasg opened #10 "Process the received data"
Hi, thank you a lot for this great package.

How could I process the received data? I don't want to just log  (print) it in the console using logging.getLogger()

Particularly I would like to make some calculations, for example, calculate the greatest number of a list received via pusher connection and send this number it via Django Channels to client side or just save it in the DataBase.

*Hint*

[2018-02-23 09:39] deepbrook commented on #10
To process the data, you simply need to define a function to run as a callback:

[code]

[2018-02-23 12:41] pedrorojasg commented on #10
Thank you for answer so fast! How should I get the message that is printed in every iteration in the log?

My code:

        root = logging.getLogger()
        root.setLevel(logging.INFO)
        ch = logging.StreamHandler(sys.stdout)
        root.addHandler(ch)

        pusher = pysher.Pusher('de504dc5763aeef9ff52')
        def  callback(*args, **kwargs):
            print("processing Args:", arg

[2018-02-23 13:06] pedrorojasg commented on #10
Thank you bro!!! I did it with your help and in the way I learn how to use args.

You could close this Issue.

My final code:

        root = logging.getLogger()
        root.setLevel(logging.INFO)
        ch = logging.StreamHandler(sys.stdout)
        root.addHandler(ch)

        pusher = pysher.Pusher('de504dc5763aeef9ff52')
        def  callback(*args, **kwargs):
            self.send_json(json

[2018-02-23 14:32] theladyjaye opened #11 "Configuring the logger overrides what is configured in logging.config"
here:

https://github.com/nlsdfnbch/Pysher/blob/master/pysher/connection.py#L40-L43

The level is forced on the logger that is created.  This will override any configuration of the logger using the standard `logging.config` module, for example: `dictConfig` or `fileConfig`.

So for example, if I do this in my logging config:

[code]
Even though I have explicitly specified the level I want, the act

[2018-02-23 14:47] theladyjaye commented on #11
Actually a backwards compatible solution that might be more appealing:

set this to `log_level=None` in the init kwargs
https://github.com/nlsdfnbch/Pysher/blob/master/pysher/connection.py#L10

[code]

or get the logger to see if it's been configured already to see if  it's level is `DEBUG` then only do the `websocket.enableTrace` after that test..

[2018-02-24 09:28] deepbrook commented on #11
Hey @aventurella , thanks for reaching out!

So if I understand you correctly, the issue you're pointing out is that currently we need to explicitly pass the `log_level` kwarg to set it to anything other than `logging.INFO`, despite having set the log level previously in a global configuration, correct ?

[2018-02-24 09:28] #10 closed, assigned to nobody

[2018-02-24 13:10] theladyjaye commented on #11
Yes, that’s the issue.

[2018-02-24 17:00] theladyjaye commented on #11
So killing that kwarg, or setting it to None and only touch the logger if it’s not None would do the trick

[2018-02-27 06:54] deepbrook commented on #11
Thanks for contributing! I'll close this once I've implemented this.

[2018-03-01 16:34] deepbrook opened #12 "Tests Failing with ConnectionRefused Error"
Failing job:
https://travis-ci.org/nlsdfnbch/Pysher/jobs/347850850

Log:

[code]

[2018-03-02 08:03] #11 closed, assigned to nobody

[2018-03-13 22:55] umbertix opened #13 "Cluster error"
When trying to use the example code it throws an error:
[code]

After checking the code I can't see any cluster option for the Pusher constructor. :( Am I missing something? (I'm completly new to python)

[2018-03-14 16:19] ashwinrrao commented on #13
@umbertix I faced a similar issue today. What fixed the issue was that I created a new app in pusher and selected the cluster as mt1 (US East N.Virginia)

[2018-03-14 16:45] umbertix commented on #13
Thx, that seem to do the trick. Still this should be fixed. I would happily assist but my python knowledge is null.

Happy to run some testing if this get's implemented. Thx for the library btw :)

[2018-03-20 06:39] Yvictor commented on #13
@umbertix
@ashwinrrao
#14

[2018-03-20 08:03] wilsoff opened #15 "How to store the 'channel' from the raw communication in a python variable?"
Thanks so much for this library!  I've got it streaming the information (for quoinex.com) to the screen using one of your examples, via both `logging` and `print`.

However, I'm finding that logging provides more information than print at the moment - logging includes `event` and `channel`.  Is there a way to access these bits of information outside of logging?

The problem I have is that if I sub

[2018-03-21 00:12] wilsoff commented on #15
Got this working by taking another look at your example.  Solved it by passing the following keyword: `channel=channel.__dict__['name']`

[code]

[2018-03-21 00:12] #15 closed, assigned to nobody

[2018-03-23 06:37] deepbrook commented on #13
@Yvictor , cheers! Still needs some minor changes, but the contribution is very welcome!

[2018-03-25 21:44] jeffro256 opened #16 "Connection.needs_reconnect isn't reset"
Whenever `self.needs_reconnect` is set to `True` due to missed ping message or timing out, it never gets set back to `False`. I would recommend putting the line `self.needs_reconnect = False` in the method `Connection._on_open`. I might be misunderstanding the design incorrectly, but the way it is now will have `self.needs_reconnect` set to `True` after the socket has already reconnected and is re

[2018-03-27 07:18] deepbrook commented on #13
#14 merged, this should be fixed on `master`. Will be release on pypi in the coming days.

[2018-04-09 05:45] fisher2099 opened #18 "Thread exception"
Hi，
when  received error 4xxx， the connection performs reconnect, but it seems the websocket thread exception raised because of socket re-open, and then the thread exits. You can see the following 'ping' get no 'pong' respond(2018-04-08 22:32:26,969 ping）, and can not reconnect any more unless restart the program. It happens one time in several hours.
Here is the log information from connection.py

[2018-04-25 17:19] curtailment commented on #9
+1 I would like to connect to a Pusher stream within an asyncio based application as well. The benchmarks I have seen online generally show better websocket performance with asyncio than threads.

Has any progress been made yet? If not I can take a look tomorrow at rewriting Pysher with aiohttp as a basis instead of websocket-client.

[2018-04-26 18:33] TraderVK commented on #18
Having exactly the same issue here. Have you found any solution?

[2018-04-26 19:43] pedrorojasg opened #19 "Error Number 99"

[2018-04-27 10:42] dustyrock opened #20 "Reconnect after connection error 4200 or similar fails"
When encountering connection error 4200 or similar, the pysher code obviously tries to re-establish the websocket connection more than once and then fails, see logs below.

Thereafter no further messages from pusher are received unless the script is restarted manually.
Unfortunately this is really bad for my use case.

I have tried setting the flag self.needs_reconnect to False in the function "de

[2018-05-01 05:50] deepbrook commented on #18
I haven't found the time to look into this yet, unfortunately. Anyone else ?

[2018-05-02 14:42] robinCantelli opened #21 "Getting data in a variable"
Hey thanks for your skript!
I tries your code with a specific website (Bitstamp)

The data that is printed is some kind of a dictionary. what I want is to get that dict written on a variable to use it like My_dict = 'The data I'm receiving via websocket' and later work with pandas or indexing.

Thanks in advance!

Robin

PS:I don't see the difference between args and kwargs here.

my code just in

[2018-05-02 16:59] robinCantelli commented on #10
Hey,
I struggled the last few days with getting pusher data from bitsamp via python. Today I found this here and got it runnig with the example code on this channel. My problem is similar to yours. I want to get the data that is printed on my console as a dict so that I can do some calculations with it. My problem is that this whole code and every finction and method is somehow a blackbox for me.

[2018-05-02 17:10] ricardoperovano opened #22 "Private Channel Error"
Hi, i'm trying to subscribe to a private channel, but it gives me some error. I know what the error means I just needed to know how to send the right data on the request:
The error says:

"Auth value for subscription to private-message-answered-5 is invalid: should be of format 'key:signature'"

I need to call my auth endpoint that is /broadcast/auth, and I also need to pass a token on header, whe

[2018-05-03 07:56] deepbrook commented on #21
Hey @robinCantelli ,
In order to work with the data I'd suggest storing it in a variable in your `my_func` method.

[code]

`*args` and `**kwargs` are safety implementations in order to work with whatever pusher channel you subscribe to - if you know you'll only have a single positional argument, defining `my_func` as follows is enough too:

[code]

Hope that helps.

[2018-05-03 20:14] robinCantelli commented on #21
Thank you so much!!!!

You can't imagine how much this is helping me!!!
Do you now how to switch of that it is printed in my console all the time? I'd like to see some other things on my console during the program is running.

Best

Robin

[2018-05-04 05:08] deepbrook commented on #21
Sure! If you omit the logger definition, it should not give you any log messages - only stdout (i. e. print() calls) should be seen then.

[2018-05-04 11:48] ricardoperovano commented on #22
I just got it working by making a normal post request to my api channel auth and then pass the received auth string to pusher.subscribe(channel_name=channel_name, auth=auth)

[2018-05-04 11:48] #22 closed, assigned to nobody

[2018-05-04 11:51] ricardoperovano opened #23 "Callback function not calling"
I'm having problems to call a callback function when trying to subscribe to a channel. The loggin says it has successfuly connected, and I can receive the events on the logs, but the callback function has not been calling.

I made a test function but its not working. What am I doing wrong ?

**channel = self.pusher.subscribe(channel_name=channel_name, auth=auth)
        channel.bind('MessageAnswer

[2018-05-05 10:44] #21 closed, assigned to nobody

[2018-05-05 10:46] deepbrook commented on #23
Hey @ricardoperovano ,
Thanks for using this fork! Regarding your issue:

Are you sure there's an event called `MessageAnswered` on the channel you subscribe to? What does `self.teste` look like? I can help you best if you provide a minimal working example.

[2018-05-05 12:37] ricardoperovano commented on #23
Hy @nlsdfnbch , thanks for the answer. After your comment, i was able to realize that my event itself was not wrong, the name is MessageAnswered, but the problem was that I was receiving the full path of the class App\Events\MessageAnswered, since it was triggered by laravel, and I was just listening for MessageAnswere.

Now its working fine! Thankyou !

[2018-05-05 12:37] #23 closed, assigned to nobody

[2018-05-07 23:06] #19 closed, assigned to nobody

[2018-05-22 11:23] agronholm opened #24 "Secret keys do not work on Python 3"
This happens because you're passing a unicode string to hmac.new(), but hashes operate on bytestrings, not unicode strings. The result: `TypeError: Unicode-objects must be encoded before hashing`.

[2018-06-04 10:06] sanketdiwale commented on #24
I was getting the same error. I think we need to pass the pass the strings to hmac.new as unicode.

I updated the code in pusher.py 's static method _generate_private_key on line 137 from:

`h = hmac.new(secret, subject, hashlib.sha256)`

to

`h = hmac.new(secret.encode('utf-8'), subject.encode('utf-8'), hashlib.sha256)
`
and it started working for me.

[2018-06-11 22:40] smvv opened #26 "Bump version to 0.5.0 and upload to pypi (cluster support)"
Is it possible to release version 0.5.0 on pypi? I would like to use the cluster support added in PR #14.

[2018-06-13 13:38] deepbrook commented on #26
Ah yes - of course!
Sorry for the delay. I'll release a new version asap. Meanwhile, you can pip install from the repo as well! simply clone it and `pip install .` in its repository *should* work.

Cheers!

[2018-06-13 13:40] deepbrook commented on #26
Done, 0.5.0 is now up on pypi.

[2018-06-13 13:40] #26 closed, assigned to deepbrook

[2018-06-16 14:13] alvbr475 opened #27 "Question: Connection Message vs Callback print outs"
Hello,

first, thanks for the script it is great and saved me a lot of work!

I want to ask how it comes that the prints of the logger (Connection Message ...) seems to print a lot more data than the callback function?
Some data of the logger is equal but neverthless I do not understand how it comes that there is big number of lines which are not printed by the callback function.

Thanks in advanc

[2018-06-21 14:21] smvv commented on #26
@nlsdfnbch Thanks! I'm aware that you can install it locally. FYI you can also install a git commit using pip, e.g.: https://stackoverflow.com/questions/20101834/pip-install-from-git-repo-branch#20101940. However, `pipenv` has had a bug where installing a specific git commit that is also satisfied by a thirdparty's dependency of an official version will choose the thirdparty's official version. In

[2018-07-11 22:45] caliloo opened #28 "huge number of threads spin up for lot's of messages processing."
Hi,

I'm using pysher which works for me -so thanks !- but with some caveats. I'm connected to a pusher channel sending 10's or 100's of message per second, each a few B to 0.5MB in size (bigger rarer following a log rule).

I observe fairly high cpu usage on the process using the library, and that has caused me trouble on low end machines (Atom N2800 @ 1.8Ghz). higher end machines (i3) take up th

[2018-07-31 09:34] berentn commented on #28
Hi caliloo,

I addressed this issue today by using a scheduler so the timer threads are no longer needed. This greatly reduces the cpu load and increases the message processing speed. It is a very rough implementation and needs some refactoring and formal testing. But so far it seems to work.

However, I'm new to using git(hub), so I'm not sure how to share it with others (or anything else you're

[2018-07-31 10:08] deepbrook commented on #28
Hey @berentn ,
check the faq - I'd love to merge your changes!
https://help.github.com/articles/creating-a-pull-request/

[2018-07-31 16:55] caliloo commented on #28
Hi I've tested the proposed merge.

While I do not see huge numbers of threads anymore which is a good thing, I d'ont see a significant drop in CPU usage (I'm going from 85/95% to 75/85% , I was expecting a drop in excess of 50-80% to get to 45/15% after the change ...)

Cheers

[2018-07-31 18:30] berentn commented on #28
@nlsdfnbch
Thanks, I gave it a try :)

@caliloo
I also get an absolute reduction of about 10% on my CPU. However, that is a reduction of ~40% in my case. From my profiler I see that stopping the timers is now ~4 times faster and starting the timer is ~40 times faster.

Maybe your callback functions are using a lot of resources? Did you check what happens to your CPU load when you use a simple call

[2018-07-31 18:38] berentn commented on #27
Are you missing messages? Because in that case it is likely due to one of two reasons:
1) You didn't (properly) attach a callback to all the channel events.
2) One of your callbacks isn't working correctly. This won't give any errors etc. but you will notice that the callback function doesn't produce any results.

[2018-07-31 19:17] caliloo commented on #28
Yep have tried the function that discards messages, it has next to no effect on what I observe, maybe a drop by 1-2% of the numbers I see. As if all the load was generated by pysher rather than my callback.

In my normal case, I have actually moved my processing (which currently resumes itself to disk IO and not much else) to another process, the callback only packs stuff into a string and posts i

[2018-07-31 19:49] berentn commented on #18
I also encountered this bug. It seems to happen in the connection class when it executes `_connect(self)` after handling an error and it tries to reconnect. My theory is that the thread fails because  `self.socket.run_forever(**self.socket_kwargs)` gets executed for a second time in the `while self.needs_reconnect and not self.disconnect_called:` loop ( because `self.needs_reconnect` is set to Tru

[2018-07-31 20:14] berentn commented on #28
I constructed a test / benchmark file to compare the the timeout scheduling methods using cprofile and pstat. I'm not knowledgeable enough to create usable profiles / stats when running the pusherclient itself.

[2018-07-31 20:25] caliloo commented on #28
ok, too bad, I was hoping to profile the pusherclient ...

[2018-08-08 21:18] caliloo commented on #28
ok, I think I finally cracked this one. After some profiling, I figured that the webscoket module does dumb utf8 validation (byte by byte !!) unless you have wsaccel installed. So one pip intall wsccel later, it looks much better.

To resume my process was taking about 100-110% cpu (it was crashing regularly for lack of cycles and falling behind): the cpu contributors were :

* ssl about 10%
* dum

[2018-08-12 08:17] deepbrook commented on #28
I've uploaded a new preview version (0.6.0b1) - Since tests are currently broken, it would be great if you guys could give that release a spin and see if anything breaks your current code.

[2018-08-14 11:23] markns opened #30 "websocket-client==0.49.0 -> _on_open() missing 1 required positional argument: 'ws'"
Hey,

The recently released websocket-client==0.49.0 seems to have broken this library:

[code]

I see you specify the websocket-client==0.48.0 in the requirements.txt, but that doesn't seem to be respected in the setup.

[code]

[2018-08-15 09:33] caliloo commented on #28
Thanks,
I'm giving it a try right now, it has started and run properly for the last 15 minutes, I'll give it a few days, see how it behaves and report back (I don't expect big stuff to show up, as most of the connection.py hasn't changed from berentn proposal, but pusher.py has seen some churn, so hey :) )

Could you add thread names to the various threads that are spun up ? I found that it helped

[2018-08-18 05:37] deepbrook commented on #30
Aye, you are correct. I believe I did not set a version in the setup.py at all. Thanks for reporting this!

[2018-08-18 05:43] deepbrook opened #31 "Add descriptive Thread names for debugging"
As requested per #28

[2018-08-18 05:51] deepbrook commented on #30
Fixed in `Pysher 0.5.1`

[2018-08-18 05:51] #30 closed, assigned to deepbrook

[2018-08-18 05:58] deepbrook opened #32 "Pass proxy config as single dict"
Currently, the `Pysher.__init__` method takes parameters for proxy configuration - this clutters the method signature in an undesired fashion. Since we compound the parameters into a dictionary anyway, require the proxy configuration to be passed as a single dictionary in the __init__ call instead.

[2018-08-18 14:18] caliloo commented on #28
Have checked my logs for the past 3 days. Couldn't see anything that was a problem. This is good from my pov.

[2018-08-18 14:18] #28 closed, assigned to nobody

[2018-08-18 15:08] caliloo commented on #31
PR posted :)

[2018-08-21 16:39] xmurobi commented on #18
Met same issue. It looks like the bug from websocket-client. I don't know why the latest version of pysher need requirements = ["websocket-client<=0.48"]. I had compare the 0.48 with the latest version of websocket-client at _app.py(start from line 155, function close). In the old version it doesn't set the `self.sock = None` after `self.sock.close(**kwargs)`, but latest websocket-client did(at li

[2018-08-21 17:36] deepbrook commented on #18
I currently cannot! But you can! We can't upgrade the websocket version until the `_on_*` methods are made compatible with the new version - since the websocket client doesn't use semantic versioning, the version doesn't show the incompatibility issue with those.

It's a small change, and should be easily resolved. However, I became a dad a few days ago and am otherwise occupied :)

[2018-08-22 06:52] devenpatel2 commented on #30
I am currently using 0.51.0 and still getting the same error. The error does not occur for 0.47.0.

[2018-08-22 09:12] agronholm commented on #24
You didn't fix the problem on [line 157](https://github.com/nlsdfnbch/Pysher/blob/master/pysher/pusher.py#L157) where `subject` is a unicode string which is passed to `hmac.new()`.
Does the test suite not cover this function or how did this slip by?

[2018-08-23 15:58] xmurobi commented on #18
@nlsdfnbch Congratulations!!!

I had submit the merge request to you. Two issues are fixed in this request: 1. Support the latest version of websocket-client. 2. Call reconnect_handler in function _connect_handler.  Could you please help to merge and release a new version? I don't want to build my version on pypi.

But the underlying reason that cause error 4201 looks like the pysher will miss the

[2018-08-24 13:33] deepbrook commented on #24
It apparently does not. The test suite is quite..minimal. It also hasn't seen an update since I forked it.

[2018-08-24 13:40] deepbrook commented on #31
Merged.

[2018-08-24 13:40] #31 closed, assigned to nobody

[2018-08-24 21:55] caliloo commented on #20
I've experienced this problem too. My hunch is that pysher does close itself down upon receiving this, but not the websocket. So when pysher comes around and tries to reconnect, it ends up with a websocket already open ...

I've not looked in the code yet to see where this can be fixed. I'll be looking into it over the next month, unless someone beats me to it (that 'd be welcome :) ) A good start

[2018-08-24 22:00] caliloo commented on #20
actually it looks like the PR for issue #18 can probably fix this

[2018-08-26 10:39] #24 closed, assigned to nobody

[2018-08-26 10:43] #18 closed, assigned to nobody

[2018-08-26 10:59] deepbrook opened #37 "Write proper unittests for library"
the current testing setup is still identical to the originally forked project's test-suite. As it is no longer up-to-date with this fork, it needs an update.

This should be done using a unittest suite, using pytest, and an integration test suite (similar to the legacy test code).

UnitTest cases :
- [ ] assert robustness of system message handling (messages sent by Pusher to us should be handled

[2018-08-26 11:00] deepbrook commented on #20
This should be taken care of in pysher-1.0.0!

[2018-08-26 11:00] #20 closed, assigned to nobody

[2018-08-26 11:01] deepbrook commented on #16
the latest release, `pysher-1.0.0`, should take care of this!

[2018-08-26 11:01] #16 closed, assigned to nobody

[2018-08-31 19:46] deepbrook commented on #9
Commit 428a93a93aabe02579dbadbcd192ce253c906da9 added a crude first draft for asyncio support. I'm still playing around with the library, and have yet to fully get a grasp of it.

Have a loot at it anyway.

[2018-09-06 08:00] squgeim opened #38 "Invalid number of arguments to `_on_open` and `_on_message` callbacks"
When trying to implement a simple script following the given example the following errors are shown:

[code]

When checking out the documentation for `websocket-client`, the implementation given in its example does not seem to match the implementation in `connection.py`.

Pysher version: `1.0.1` (installed with pip)
websocket-client version: `0.52.0`
Python version: `3.7.0`
OS: Mac OS X (Mojave)

[2018-09-08 10:28] #38 closed, assigned to nobody

[2018-09-11 07:07] dustyrock opened #40 "v1.x doesn't work for me"
I have tried version 1 and 1.02 but can not connect to pusher and get following error messages:

error from callback <bound method Connection._on_open of <Connection(Thread-1, started daemon 140250322847488)>>: _on_open() missing 1 required positional argument: 'ws'
error from callback <bound method Connection._on_message of <Connection(Thread-1, started daemon 140250322847488)>>: _on_message() mi

[2018-09-11 16:26] deepbrook commented on #40
What's your `websocket-client` version? (`pip freeze | grep websocket-client` on linux)

They did some mumbo jumbo in the releases since `0.49.0`, but the latest version should work with Pysher.

[2018-09-12 15:25] dustyrock commented on #40
Thanks for your quick response and hint!

I didn't have the latest version of the websocket-client installed, but I think it was already 0.5.
I now have updated to the latest version 0.53 and updated all related python modules too.
Unfortunately I still get the same type of errors.

Maybe something in my environment is still wrong.
Do I have to adapt my pusher client code in some special way when

[2018-09-12 19:33] twisted-Sonnet opened #41 "not working with last version"
working with Pysher 1.0.1
not working with Pysher 1.0.2 and 1.0.3
websocket-client 0.53

Please help :)

[code]

[2018-09-12 19:33] x-Sonnet commented on #41
import pysher, json, time

def callback(data):
    event = json.loads(data)
    print(event)

def connection_callback(data):
    channel = pusher.subscribe("inventory_changes")
    channel.bind("listed", callback)
    channel.bind("price_changed", callback)
    channel.bind("delisted_or_sold", callback)
    channel.bind("extra_info", callback)

pusher = pysher.Pusher(key='c0eef4118084f8164bec65e62

[2018-09-12 19:36] x-Sonnet commented on #41
working with Pysher 1.0.1
not working with Pysher 1.0.2 and 1.0.3
websocket-client 0.53

[2018-09-15 18:15] pkovanen opened #42 "Consumer example not working"
I'm trying to use latest pysher version, however the example in README.md is not working:

`
error from callback <bound method Connection._on_open of <Connection(PysherEventLoop, started daemon 139662709860096)>>: _on_open() takes exactly 2 arguments (1 given)
error from callback <bound method Connection._on_message of <Connection(PysherEventLoop, started daemon 139662709860096)>>: _on_message() t

[2018-09-24 17:01] #41 closed, assigned to deepbrook

[2018-09-25 20:17] scdias opened #43 "Since Version 1.0.2 the script never connect"
the last version that the script worked are:
pkg-resources==0.0.0
Pysher==1.0.1
six==1.11.0
websocket-client==0.53.0

since 1.0.2 the "pusher.connection.state" always return "connecting"

[__main__.py.txt](https://github.com/nlsdfnbch/Pysher/files/2416903/__main__.py.txt)

[2018-09-28 15:32] twisted-Sonnet opened #44 "Error"
Lately I periodically get an error like this. What is the reason for this?
Pysher 1.0.1 (cuz 1.0.2 and 1.0.3 not working for me. I don't know why)
websocket-client 0.53

`ERROR:websocket:error from callback <bound method Connection._on_message of <Connection(PysherEventLoop, started daemon 8476)`

[2018-10-01 09:50] agronholm commented on #43
In Pysher 1.0.2, a change was introduced that added callback arguments that are never passed to them, thus breaking the whole library.

[2018-10-01 09:51] agronholm commented on #44
See #43 for an explanation.

[2018-10-01 16:25] scdias commented on #43
Working with Pysher==1.0.4

[2018-10-01 16:25] #43 closed, assigned to nobody

[2018-10-01 20:45] agronholm commented on #40
Fixed in 1.0.4 (via 8bec81616be2b6c9a9c0e2774b42890426a73745).

[2018-10-01 20:45] agronholm commented on #42
Fixed in 1.0.4 (via 8bec81616be2b6c9a9c0e2774b42890426a73745).

[2018-10-01 20:45] agronholm commented on #44
Fixed in 1.0.4 (via 8bec81616be2b6c9a9c0e2774b42890426a73745).

[2018-10-02 00:22] #40 closed, assigned to deepbrook

[2018-10-02 07:28] twisted-Sonnet commented on #44
v1.0.4 gets this error too =(

[2018-10-02 08:39] agronholm commented on #44
Then I was mistaken. Is this the complete error message? There is no traceback or anything?

[2018-10-02 08:39] agronholm commented on #44
Have you tried earlier versions of Pysher?

[2018-10-02 22:50] paszin commented on #13
I had the same issue, thanks for solving this one. Maybe a hint in the readme could save some time.
[code]

[2018-10-03 03:02] twisted-Sonnet commented on #44
this error type just spams for every event
`ERROR:websocket:error from callback <bound method Connection._on_message of <Connection(PysherEventLoop, started daemon 14604)>>: 'Sealed Graffiti | King Me (SWAT Blue)'
INFO:pysher.connection:Connection: Message - {"event":"price_changed","data":"{\"app_id\":\"730\",\"context_id\":\"2\",\"item_id\":\"14347029788\",\"asset_id\":\"14347029788\",\"class_id

[2018-10-03 03:05] twisted-Sonnet commented on #44
I previously used v1.0.1
v1.0.2 and 1.0.3 not worked for me

[2018-10-05 02:31] twisted-Sonnet commented on #44
![image](https://user-images.githubusercontent.com/42423011/46513114-d2ddce00-c85f-11e8-99c2-da06db5cf666.png)

[2018-10-05 06:07] agronholm commented on #44
Have you tried to track down the source of the errors? It doesn't seem obvious from the log.

[2018-10-07 04:14] deepbrook commented on #44
@x-Sonnet, are you positive the only change were the pysher versions? If you downgrade to `1.0.1` it still works?
From what you've posted, it looks like the errors are due to a keyError or similar.

[2018-10-19 16:37] dorinand opened #46 "Unsatisfied requirements when upgrading to 1.0.4 from 0.5.0"
Hello, I used Pysher==0.5.0. I upgraded to version 1.0.4 but I did not received new messages from websocket. The problem was with unsatisfied version of websocket-client. In requirements.txt is mentioned websocket-client==0.51.0 but I had only 0.48.0. I think, it should be updated properly when installed new version of Pysher or at least, it should informed me about unmatching versions. This is wh

[2018-10-19 19:59] deepbrook commented on #46
Hey @dorinand !

That looks like an issue with `pip --upgrade`,  not Pysher - I updated the requirements with the latest release.

But thanks for reaching out!

[2018-10-19 19:59] #46 closed, assigned to nobody

[2018-11-05 06:06] #44 closed, assigned to nobody

[2018-11-08 07:51] #13 closed, assigned to nobody

[2018-12-02 18:54] craigjmidwinter commented on #38
It looks like this has regressed. 1.0.1 works, but 1.0.4 gives errors:
[code]

[2018-12-04 07:04] deepbrook commented on #38
Is your websocket - client up to date,
@craigjmidwinter?
I'm migrating to another websocket library, but progress is achingly slow, due to very little available time on my end.

[2019-01-23 03:30] wmltyq commented on #9
Now don't have async pysher example?

[2019-01-28 06:55] birdlavv commented on #22
How did you get the initial `socket_id` to post to your `/broadcast/auth` endpoint to get the auth string?

[2019-01-30 01:38] birdlavv opened #49 "Getting initial socket_id for auth endpoint - Docs request"
Similar to https://github.com/nlsdfnbch/Pysher/issues/22

Server:
`const auth = pusher.authenticate(socket_id, channel_name);`
`socket_id` and `channel_name` are required for the auth payload to the endpoint.

Client:
How does one get the initial `socket_id` to post to an auth endpoint to get the auth string during the initialization of the client?

Currently the private channel example has the se

[2019-02-25 21:14] tamert commented on #49
up

[2019-10-27 21:53] dorinand opened #51 "Closed socket from time to time"
**Issue:**

Hi, I am using this library and from time to time, I have registered that my websocket stopped working. I tried to debug it, and find out, socket is missing but no error message is logged.

Now, lets show some example. I dockerized (the same problem was discovered even when the application was not dockerized) my application and find out via `netstat` command, I have opened socket with

[2020-01-24 22:13] eliasjtg commented on #49
Someone know how to set the channel authorization endpoint? :(

[2020-01-24 22:14] eliasjtg opened #52 "How to set channel authorization endpoint?"

[2020-03-30 07:56] Rubensei commented on #49
You get the socket_id on the json string parameter passed to the function bound to the `pusher:connection_established` event

@eliasjtg you need to manually send the http request to the auth endpoint

[2020-05-02 10:43] Rubensei opened #54 "1.0.5 Install error"
Error installing version `1.0.5.linux-x86_64` with pip

PS: pip will install 1.0.4 by default if you don't specify version

[2020-05-04 15:55] #54 closed, assigned to nobody

[2020-05-13 20:43] twisted-Sonnet opened #57 "."

[2020-05-17 05:16] #57 closed, assigned to nobody

[2020-05-29 17:49] Arjun-S05 commented on #52
Even I have the same problem. I think providing it as part of user_data will do the trick but can't confirm

[2020-06-24 16:10] shamoons opened #58 "Is it possible to set this up with a Flask / Hug server?"

[2020-08-05 10:09] BuddhaSource commented on #49
Can you please share an example code snippet to get `socket_id` which needs to be send to get `auth`

[2020-08-05 10:42] Rubensei commented on #49
[code]

[2020-08-07 07:07] #49 closed, assigned to nobody

[2020-08-10 20:41] Jaquedeveloper commented on #9
Why don't you merge the commit to the main repo?

[2020-08-11 00:17] Jaquedeveloper commented on #9
Why the commit is not on the official version?

[2020-08-11 04:57] deepbrook commented on #9
Because it's not production ready. It was a draft to see if I could get it working. Unfortunately I did not and Still do not have time to properly implement it.

[2020-08-14 17:12] Gradd commented on #52
https://github.com/deepbrook/Pysher/issues/49

[2020-08-14 17:30] #52 closed, assigned to nobody

[2020-09-05 07:45] onkelbeh opened #59 "Release tag for 1.0.1 missing"
Hi Nils,

hope you don't mind I am using your component in [Home Assistant Gentoo Overlay](https://github.com/onkelbeh/HomeAssistantRepository), ebuilds: https://github.com/onkelbeh/HomeAssistantRepository/tree/master/dev-python/Pysher.

Home Assistant currently relies on `pysher==1.0.1` for the goalfeed integration.

You do not publish SDIST for this release on Pypi, and you did not add a tag for

[2020-09-29 00:51] Jnesselr opened #60 "Support websocket path for custom host"
The Pusher js client supports a websocket path so you can use a url like `ws://example.test/ws/app/pusher-key?protocol=7&client=js&version=7.0.0&flash=false` for a custom url where the host is `example.txt` and the path is `/ws`.

[2021-01-31 15:42] SpicerSolutions opened #61 "Is it possible to connect Pysher to a Laravel-Websockets server"
Hello,

I'm tried to refactor a project away from using Pusher to Laravel-Websockets.

Has anyone tried this or had any success, I'm trying the following

    def init_channel_join(self):
        print('init channel join')
        self.clientPusher = pysher.Pusher(self.app_key, cluster=self.app_cluster, log_level=logging.DEBUG, custom_host="www.projectwebsite.com", port=6001)
        self.clientPu

[2021-03-03 14:38] massiou opened #62 "Pysher 1.0.6 not compatible with websocket-client==0.58.0"
This is due to:
https://github.com/websocket-client/websocket-client/commit/3112b7d75b1e5d65cb8fdfca7801606649044ed1

error from callback <bound method Connection._on_message of <Connection(PysherEventLoop, started daemon 123145690574848)>>: _on_message() takes 2 positional arguments but 3 were given
error from callback <bound method Connection._on_message of <Connection(PysherEventLoop, started d

[2021-03-03 16:57] engn33r commented on #62
Hi, websocket-client maintainer here :wave: Thanks for bringing this to my attention. Do you have a more detailed error message indicating the line numbers where these errors were triggered on? Based on what I can see, the `_on_message` and `_on_open` functions are defined only in Pysher (a search for those functions in websocket-client gives no results), but the `error from callback <exception>`

[2021-03-21 01:25] rodrigoross commented on #61
Hello I'm actually trying the same implementation. But I'm stuck past the connection part.

I'm using the following code from examples/private.py

[code]

My laravel-websockets log shows that a device connected but connect_handler isn't fired or if it is I don't know how to passa a Authorization Header.

Have you had any luck @SpicerSolutions ?

[2021-03-22 09:36] SpicerSolutions commented on #61
I'm afraid in the end I migrated the app I was writing to Electron, sorry.

On Sun, 21 Mar 2021 at 01:26, Rodrigo ***@***.***> wrote:

--

Kind regards

Johnny Spicer

e: ***@***.***
m: +44 (0) 7821 329479 <+44%207821%20329479>
w: www.spicersolutions.com

[2021-03-23 12:35] rodrigoross commented on #61
Thanks for the reply I'll look into the possibility to use Electron. However we managed to have a Python Dev help in the project and finally managed to at least subscribe in the private channel.

[2021-03-30 18:16] Jnesselr commented on #62
@engn33r So I'm running into this same issue. It looks like Pysher doesn't do websocket inheritance: https://github.com/deepbrook/Pysher/blob/master/pysher/connection.py#L107

I'm actually seeing this commit which added the ws in there and another that reverted:
original: https://github.com/deepbrook/Pysher/commit/c7f95c622b5fff857cb5a22a792f3b888017e38e
revert: https://github.com/deepbrook/Pysher

[2021-04-01 14:31] engn33r commented on #62
Thanks @massiou @Jnesselr. When this issue was first posted, it was the first one to point out that the change in inheritance handling broke some uses of websocket-client. However, it was only the first to report this behavior out of many, as websocket-client issues #[669](https://github.com/websocket-client/websocket-client/issues/669), #[668](https://github.com/websocket-client/websocket-client/

[2021-04-28 12:26] Baggins800 commented on #61
Hi it got it to work @https://github.com/deepbrook/Pysher/pull/64, the authorization header you can do separate, e.g. after connection use http(s) and request channel auth with requests package @ `http(s)://host:port/broadcasting/auth` with auth header `{"Authorization": "Bearer SECRET_TOKEN"}` and the data with `{"socket_id": id_from_connection, "channel_name": "presence-channel"}`.

Or this was

[2021-05-26 21:21] NoahNxT opened #65 "How to get up and running?"
I've tried everything to start up, but nothing seems to work... I filled in the appkey and channel name and event name. But it doesn't seem to to run. Are there any other option of getting it up and running?

[2021-06-03 15:15] tang295 commented on #65
You will need `websocket-client==0.57.0` in your requirements.txt due to #62.

You also need to specify the cluster in the constructor, for example for eu cluster:

`pusher = pysher.Pusher(appkey, cluster="eu")`

[2021-06-18 13:59] spydreb1t3 commented on #61
Battling with a similar issue, the connection_established handler never fires despite connecting to the server correctly. I'm on a deadline and I've been at this all day, any help would be appreciate, maybe I'm just missing something.

The Websockets Server spits this out on its console, but the python client doesn't respond to it at all.
`New connection opened for app key scvbmzkmvc.
Connection i

[2021-09-30 05:40] hacka007 opened #68 "Reconnect after receive Error 4201"
In my project I receive the following Error  and my app reconnect to the pusher service.  The Error fires al lot of times while running the app over a day.
`pysher.connection:Connection: Received error 4201`
` Connection: Received error 4201`
` websocket:close status: 4201`
` close status: 4201` `

I use Python 3.7.11 and pysher 1.0.4 with websocket-client 0.57.0.

What can I do to prevent my app

[2021-11-10 14:43] craigjmidwinter opened #69 "Cut a new release"
Looks like there hasn't been a release cut since the fix for the new version of websocket-client was merged in. Could we cut a release and push to pypi?

PR with updated support: https://github.com/deepbrook/Pysher/pull/67

[2022-01-02 20:51] Jnesselr commented on #60
I ended up forking to achieve this functionality and the functionality described in #61 and called the new package "PysherPlus". [GitHub](https://github.com/Jnesselr/PysherPlus)

[2022-01-02 20:51] #60 closed, assigned to nobody

[2022-02-14 19:22] deepbrook commented on #69
Took forever, but [here it is](https://github.com/deepbrook/Pysher/releases/tag/1.0.7)

[2022-02-14 19:22] #69 closed, assigned to nobody

[2022-04-14 14:05] benjamin-tang-pusher commented on #68
Errors 4200-4299 means [Pong reply not received: ping was sent to the client by our cluster, but no reply was received](https://pusher.com/docs/channels/library_auth_reference/pusher-websockets-protocol/#4200-4299). I'm suspecting this library is getting a bit old unfortunately, and isn't complying with our latest protocol.